*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
form{
	width: 300px;

}
input{
	width:100px;
}
body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: -webkit-linear-gradient(top, #79ff, #b22234);
}
input, button {
	border: none;
	outline: none;
	background: none;
}
.container{
	overflow: hidden;
	position: relative;
	width: 500px;
	height: 400px;
	background: #fff;
}
form{
	position: relative;
	width: 500px;
	height: 100%;
	padding: 50px 30px;
	-webkit-transition:-webkit-transform 1.2s ease-in-out;
	transition: -webkit-transform 1.2s ease-in-out;
	transition: -webkit-transform 1.2s ease-in-out;
	transition: -webkit-transform 1.2s ease-in-out, transition: -webkit-transform 1.2s ease-in-out;
}
form h2{
	width: 100%;
	text-align: left;
	font-size: 30px;
	margin-left:8px;
}
label{
	display: block;
	width: 200px;
	margin: 20px;
	text-align: left
	margin-left: 0px;
}
label h3{
	text-align: left
	font-weight: 600;
	margin:0px;
	font-size: 13px;
	color: 505f75;
	text-transform: uppercase;
}
input{
	display: block;
	width: 100%;
	margin-top: 5px;
	font-size: 16px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(109, 93, 93, 0.4);
	text-align: left;
}
button{
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 32px;
	border-radius: 30px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.Done{
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 0px;
	text-transform: uppercase;
	font-weight: 600;
	background: -webkit-linear-gradient(top, #79ff, #b22);
}
.Done:hover{
	background: -webkit-linear-gradient(top,#b22 , #79ff);

}
.forgot-pass, .sign-up{
	color:black;
	display: inline;
	margin-top: 15px;
	margin-left: 20px;
	text-align: left;
	font-size: 14px;
	font-weight: 600;
	color: 0c0101;
	cursor: pointer;

}
.forgot-pass:hover, .sign-up:hover{
	color: red;
}
.red-text{
	color: red;
	width: 400px;
	padding-top: 10px;
}
